<div>
    <div class="dropdown-menu mt-8 ml-6">
        <div class="p-4 shadow-concreto rounded-md bg-whiteText w-[10rem]">
            <div>Filter by Region</div>
        </div>
        <div class="menu-list shadow-concreto rounded-md">
            <ul class="bg-whiteText shadow-concreto rounded-md">
                @for(region of regions; track $index){
                <li>
                    <button (click)="onRegionClick(region)">
                        {{ region }}
                    </button>
                </li>
                }
            </ul>
        </div>
    </div>
</div>
