.dropdown-menu {
    position: relative;
}

.dropdown-menu .menu-list {
    position: absolute;
    padding: 0.5rem;
    width: 13rem;
    opacity: 0;
    visibility: hidden;
    background-color: transparent;
    box-shadow: none;
}

.dropdown-menu:hover .menu-list {
    opacity: 1;
    visibility: visible;
}

ul {
    padding: 1rem;
}

li {
    margin-bottom: 0.5rem;
}
