<div>
    <div class="mt-8 ml-6">
        <div class="p-4 shadow-concreto rounded-md bg-whiteText w-[10rem]">
            <button (click)="toggleFilter()">Filter by Region</button>
        </div>
        <ul class="dropdown-menu shadow-concreto rounded-md bg-red-600">
            <li>
                <button>Africa</button>
            </li>
            <li>
                <button>America</button>
            </li>
            <li>
                <button>Asia</button>
            </li>
            <li>
                <button>Europe</button>
            </li>
            <li>
                <button>Oceania</button>
            </li>
        </ul>
    </div>
</div>
