<div>
    <div class="dropdown-menu mt-8 ml-6">
        <div class="p-4 shadow-concreto rounded-md bg-whiteText w-[10rem]">
            <div>Filter by Region</div>
        </div>
        <div class="menu-list shadow-concreto rounded-md">
            <ul class="bg-whiteText shadow-concreto rounded-md">
                <li>
                    <button (click)="toggleFilter('africa')">Africa</button>
                </li>
                <li>
                    <button>America</button>
                </li>
                <li>
                    <button>Asia</button>
                </li>
                <li>
                    <button>Europe</button>
                </li>
                <li>
                    <button>Oceania</button>
                </li>
            </ul>
        </div>
    </div>
</div>
