<app-header></app-header>
<div>
    <div class="w-[30%] mt-[2rem] ml-[2rem] mr-[2rem] shadow-concreto">
        <a
            routerLink="/"
            routerLinkActive="active"
            class="flex justify-center items-center py-3"
        >
            <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6"
            >
                <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18"
                />
            </svg>
            <span class="ml-1">Back</span>
        </a>
    </div>
    <div class="mt-20 ml-8 container-detail">
        @for(item of countrie; track $index){
        <div class="w-[100%] max-w-[80%]">
            <div class="mb-5">
                <img src="{{ item.flags.svg }}" alt="{{ item.flags.alt }}" />
            </div>

            <div class="mb-5">
                @defer{
                <img
                    src="{{ item.coatOfArms.svg }}"
                    alt="Coat of arms of {{ item.name.common }}"
                />
                <p>Coat of arms</p>
                }@loading ( minimum 0.5s) {
                <div class="flex items-center justify-center">
                    <div class="loader"></div>
                </div>

                }
            </div>
        </div>
        <div class="information">
            <div class="title">
                <p class="font-bold text-2xl mt-8 mb-8">
                    {{ item.name.common }}
                </p>
            </div>
            <div>
                <p class="mb-2.5">
                    <span class="font-semibold text-lg">Native Name:</span>
                    {{ item.altSpellings[1] }}
                </p>
                <p class="mb-2.5">
                    <span class="font-semibold text-lg">Population:</span>
                    {{
                        item.population.toLocaleString("en", {
                            minimumFractionDigits: 2
                        })
                    }}
                </p>
                <p class="mb-2.5">
                    <span class="font-semibold text-lg">Region:</span>
                    {{ item.region }}
                </p>
                <p class="mb-2.5">
                    <span class="font-semibold text-lg">Sub Region:</span>
                    {{ item.subregion }}
                </p>
                <p class="mb-12">
                    <span class="font-semibold text-lg">Capital:</span>
                    {{ item.capital }}
                </p>
            </div>
            <div>
                <p class="mb-2.5">
                    <span class="font-semibold text-lg">Top Level Domain:</span>
                    {{ item.tld }}
                </p>
                <p class="mb-2.5">
                    <span class="font-semibold text-lg">Curriencies:</span>
                    {{ getCurriency() }}
                </p>
                <p class="mb-2.5">
                    <span class="font-semibold text-lg">Languages:</span>
                    {{ getLanguages() }}
                </p>
            </div>
            <div class="mb-12">
                <span class="font-semibold text-lg block mb-2">
                    Border Countries:
                </span>
                <div class="flex items-center gap-3">
                    @for(country of item.borders; track $index){
                    <a
                        [routerLink]="['/detail', country]"
                        class="shadow-concreto p-1"
                        (click)="getBorder(country)"
                    >
                        {{ country }}
                    </a>
                    }@empty {
                    <p>No Border Countries</p>
                    }
                </div>
            </div>
        </div>

        } @empty {
        <div class="flex justify-center items-center">
            <div class="loader"></div>
        </div>
        }
    </div>
</div>
