<div>
    <div class="w-[30%] mt-[2rem] ml-[2rem] mr-[2rem] shadow-concreto">
        <a
            routerLink="/"
            routerLinkActive="active"
            class="flex justify-center items-center py-3"
        >
            <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6"
            >
                <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18"
                />
            </svg>
            <span class="ml-1">Back</span>
        </a>
    </div>
    <div class="mt-20 mr-8 container-detail">
        @for(item of countrie; track $index){
        <div class="w-[100%] max-w-[80%]">
            <img
                src="{{ item.flags.svg }}"
                alt="Flag of {{ item.name.common }}"
            />
        </div>
        <div class="information">
            <div class="title">
                <p class="font-bold text-2xl mt-8 mb-8">
                    {{ item.name.common }}
                </p>
            </div>
            <div>
                <p class="mb-2.5">
                    <span class="font-semibold text-lg">Native Name:</span>
                    {{item.altSpellings[1]}}
                </p>
                <p class="mb-2.5">
                    <span class="font-semibold text-lg">Population:</span>
                    {{item.population.toLocaleString("en", {
                    minimumFractionDigits: 2
                })}}
                </p>
                <p class="mb-2.5">
                    <span class="font-semibold text-lg">Region:</span>
                    {{item.region}}
                </p>
                <p class="mb-2.5">
                    <span class="font-semibold text-lg">Sub Region:</span>
                    {{item.subregion}}
                </p>
                <p class="mb-12">
                    <span class="font-semibold text-lg">Capital:</span>
                    {{item.capital}}
                </p>
            </div>
            <div>
                <p class="mb-2.5">
                    <span class="font-semibold text-lg">Top Level Domain:</span>
                    {{item.tld}}
                </p>
            </div>
        </div>

        } @empty {
        <div class="flex justify-center items-center">
            <div class="loader"></div>
        </div>
        }
    </div>
</div>
