<div>
    <div class="lg:flex lg:items-center">
        <app-input-search></app-input-search>
        <app-filter-search></app-filter-search>
    </div>
    <div
        class="mt-5 grid grid-cols-auto-fit gap-y-12 justify-center min-h-screen sm:gap-x-12"
    >
        @for (countrie of countries; track $index) {
        <a routerLink="/detail" routerLinkActive="active">
            <div class="h-[21rem] shadow-concreto rounded-md overflow-hidden">
                <div class="h-[10rem]">
                    <img
                        src="{{ countrie.flags.png }}"
                        alt="Flag of {{ countrie.name.common }}"
                        class="object-cover h-full w-full shadow-concreto"
                    />
                </div>
                <div class="pl-6 pt-3 pb-5">
                    <p class="font-bold mb-4 text-lg">
                        {{ countrie.name.common }}
                    </p>
                    <p class="mb-2.5">
                        <span class="font-bold">Population: </span>
                        {{
                            countrie.population.toLocaleString("en", {
                                minimumFractionDigits: 2
                            })
                        }}
                    </p>
                    <p class="mb-2.5">
                        <span class="font-bold">Region: </span>
                        {{ countrie.region }}
                    </p>
                    <p>
                        <span class="font-bold">Capital: </span>
                        {{ countrie.capital }}
                    </p>
                </div>
            </div>
        </a>
        }@empty {
        <div class="flex justify-center items-center">
            <div class="loader"></div>
        </div>
        }
    </div>
    <button (click)="updateCountries()">Load more</button>
</div>
